@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --font-main: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-main);
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.welcome-message {
  margin-left: auto;
}

.navTop > .logout {
  margin-left: auto;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navTop > .logout:hover {
  color: #adb5bd;
}

.navTop {
  background-color: black;
  padding: 0.85rem;
  color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3rem;
  z-index:1000;
}

.navTop>a {
  font-size: 1.20rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;

}

.navTop ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  font-family: var(--font-main);

}

.navTop ul li a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navTop ul li a:hover {
  color: #adb5bd;
}

.navTop ul li a.active {
  color: #ffc107;
  font-weight: bold;
}

.preorder-cover {
  padding: 5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
}

.preorder-cover h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.navTop>.login-active {
  margin-left: auto;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  color: #ffc107;

}


.login {
  margin-left: auto;
  color: #f8f9fa;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: black;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  width: 30rem;
}

.login-form {
  min-height: calc(100vh - 56px);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  padding: 5rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-group {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;      
  justify-content: flex-start;
}
.card-group .card {
  flex: 0 0 18rem;
}

.card-img-top {
  width: 300px; 
  height: 200px;
  object-fit: cover;
}

  .contact-container {
    width: 100%;
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: url('../images/warehouse.jpg');
    background-size: cover;
  }

  .contact-header {
    text-align: center;
    background: linear-gradient(to right, #23013a, #380202);
    padding: 30px;
    max-width: 100%;
    color: #ffffff;
  }

  .contact-formbox {
    padding: 50px;
    display: flex;
    width: 100%;
    justify-items: center;
    height: 800px;
    position: relative;
  }

  .contact-form {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 9%;
  }

  .contact-container ul {
    list-style-type: disc;
    color: white;
  }

  .contact-container li {
    margin: 50px;
    text-align: center;
    display: inline-block;
  }

  .contact-info {
    padding: 20px;
    background: linear-gradient(to right, #23013a, #380202);
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
  }

  .contact-form-welcome-message-box {
    color: white;
    margin-right: 20px;
    background-color: rgb(48, 19, 19);
    border: black 2px solid;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    height: 700px;
    position: absolute;
    left: 20%;
  }

  .contact-form-welcome-message {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 20%;
  }

