@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --font-main: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-main);
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
}


.navTop {
  background-color: black;
  padding: 0.85rem;
  color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3rem;
}

.navTop>a {
  font-size: 1.20rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;

}

.navTop ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  font-family: var(--font-main);

}

.navTop ul li a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navTop ul li a:hover {
  color: #adb5bd;
}

.navTop ul li a.active {
  color: #ffc107;
  font-weight: bold;
}

.preorder-cover {
  padding: 5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
}

.preorder-cover h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.navTop>.login-active {
  margin-left: auto;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  color: #ffc107;

}

.login {
  margin-left: auto;
  color: #f8f9fa;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  border: solid white 1px;
  padding: 2rem;
  background-color: gray;
}

.login-form {
  min-height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(151, 0, 0, 0.568);
  color: white;
  text-align: center;
  padding: 5rem;
  box-sizing: border-box;
}